body {
    font-family: Arial;
    font-size: 16px;
    margin: 20mm 10mm 20mm 10mm; /* Márgenes para evitar que el contenido quede pegado al borde */
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: right;
    font-size: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

thead {
    display: table-header-group;
}

tbody tr {
    page-break-inside: avoid;  /* ✅ Evita que las filas se corten entre páginas */
}

td img {
    width: 90px;
    height: 90px;
}
/* Estilos para que el nombre de la imagen se adapte a la celda */
.table-nombre-imagen {
    word-wrap: break-word;   /* Permite dividir palabras largas */
    white-space: normal;     /* Permite que el texto se divida en múltiples líneas */
    text-align: center;      /* Asegura que el texto esté alineado */
    max-width: 120px;        /* Establece un ancho máximo para evitar expansión */
    page-break-before: always;
}