<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="file:///{{ app.root_path }}/static/css/header.css">
</head>
<body>
    <table class="header-table">
        <tr>
            <td style="width: 15%;">
                <img src="file:///{{ app.root_path }}/static/assets/robot-inferior-izquierdo.jpg">
            </td>
            <td class="title">Sistema Clasificador de Granos de Café</td>
            <td style="width: 15%;">
                <img src="file:///{{ app.root_path }}/static/assets/paso3.png">
            </td>
        </tr>
    </table>
</body>
</html>
