<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">    
    <title>Sistema Clasificador de Granos de Café</title>
    <link rel="stylesheet" href="file:///{{ app_root_path  }}/static/css/historial_pdf.css">
</head>
<body>
    <!--
    <table class="header-table">
        <tr>
            <td style="width: 15%;">
                <img src="file:///{{ app_root_path  }}/static/assets/robot-inferior-izquierdo.jpg">
            </td>
            <td class="title">Sistema Clasificador de Granos de Café</td>
            <td style="width: 15%;">
                <img src="file:///{{ app_root_path  }}/static/assets/paso3.png">
            </td>
        </tr>
    </table>
    -->
    <h2>Sistema Clasificador de Granos de Café</h2>
    <p></p>
    <h2 >Historial</h2>
    <p>Fecha actual: <span>{{ fecha_actual }}</span></p>
    
    <table>
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Resultado</th>
            </tr>
        </thead>
        <tbody>
            {% for item in history %}
            <tr>

                <td><img src="file:///{{ app_root_path  }}/static/uploads/{{ item.name }}"></td>
                <td class="table-nombre-imagen">{{ item.name }}</td>
                <td>{{ item.result }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

